<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Remove Customer</h3>
<p>
    <a th:href="@{/employee/}">
        Back to customer list
    </a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form action="#" th:action="@{/employee/delete-employee}" th:object="${employee}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>BirthDate</label>
            <input type="text" th:field="*{birthDate}"/>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{address}"/>
        </div>
        <div>
            <td><label>Avatar</label></td>
        </div>
        <div>
          <td><img width="150px" height="150px" th:src="@{'/i/' + ${employee.getAvatar()}}"></td>
        </div>
        <div>
            <label>Salary</label>
            <input type="text" th:field="*{salary}"/>
        </div>
        <div>
            <label>Department</label>
            <select name="department">
                <option th:each="d : ${departments}"
                        th:value="${d.id}"
                        th:text="${d.name}"
                        th:selected="(${d.id} == *{department.id})"></option>
            </select>


        </div>
        <input type="submit" value="Remove"></input>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>