<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<meta charset="UTF-8">
<h3>Modify department</h3>
<p>
    <a th:href="@{/department/}">
        Back to department list
    </a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form action="#" th:action="@{/department/edit-department}" th:object="${department}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>

        <input type="submit" value="Save"></input>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>